.NavbarMain {
  width: 100%;
  display: flex;
  background-color: rgba(red, green, blue, 0.2);
}

.NavbarMain-container {
  max-width: 100%;
  height: 70px;
  display: inherit;
  align-items: center;
  padding: 20px 50px;
}

.NavbarMain-image {
  height: 30px;
}
.Navbar-lista {
  display: flex;
  color: white;
  justify-content: start;
  list-style: none;
  padding: 20px;
}
.Navbar-lista li {
  padding: 20px;
}
video {
  position: absolute;
  width: 100%;
  height: 79%;
  object-fit: cover;
  z-index: 0;
  /* left: 50%;
  top: 50%; */
  /* transform: translate(-50%, -50%); */
}
